@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('fonts/Inconsolata/Inconsolata-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2d333b;
  color: #ffffff;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #3c444e;
  width: 100%;
  padding: 0 10px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
  margin: 10px 0 0;
  text-decoration: none;
  color: inherit;
}

.tab.active {
  background-color: #2d333b;
}

.content {
  margin: 20px;
}

section {
  display: none;
}

section.active {
  display: block;
}

h1 {
  margin: 0.3em 0;
  font-size: 28pt;
  font-weight: 200;
}

h2 {
  font-size: 16pt;
}

pre {
  font-family: 'Inconsolata', 'Consolas', monospace;
  width: 100%;
  padding: 20px;
  min-height: 140px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-line;
  background-color: #1d2125;
}

pre.hidden {
  color: transparent;
  min-height: 0;
  height: 0;
  overflow: hidden;
}

input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
  cursor: pointer;
}

label .checkbox {
  vertical-align: bottom;
  background-color: #2d333b;
	border: 1px solid #ffffff;
	padding: 8px;
	border-radius: 3px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

label .checkbox::after {
  content: "";
  position: absolute;
  transform: rotate(30deg) scale(0);
  left: 5px;
  top: 4px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transition: all 0.2s ease-in-out;
}

label input:checked ~ .checkbox::after {
  transform: rotate(45deg) scale(1);
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
}

#custom-difficulty {
  display: grid;
  grid-template-columns: 110px 60px;
  grid-auto-rows: 30px;
  justify-items: stretch;
  align-items: center;
}

input[type="number"] {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  background-color: #3c444e;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  padding: 0 0 0 0.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a.external {
  color: #82baff;
  text-decoration: none;
}

a.external:hover {
  text-decoration: underline;
}
